<h1>WordGame#score</h1>
<p>Find me in app/views/word_game/score.html.erb</p>

<h3>******** Now your result ********</h3>


<h4>Your word: <%= @attempt %></h4>

<h4>Time taken to answer: <%= @time_taken %></h4>

<h4>Your score: <%= @score %></h4>

<h4>Message: <%= @message %></h4>

<h3>*****************************************************</h3>
